/* styles.css */

.logo {
    font-size: 24px; /* Adjust the font size as needed */
    color: #FFD700; /* Change the color to your desired logo color */
    padding: 10px; /* Add padding to the logo for spacing */
}

body, main {
    display: flex;
}

body {
    flex-direction: column;
}

main {
    flex-direction: row;
}

main {
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

header {
    /* Add styles for the header content */
}

footer {
    /* Add styles for the footer content */
}

